<template name="photo">
    <div class="container">
        <h1>Take a Picture!</h1>
        <form class="form-signin" id="picsub">
            <input type="text" class="form-control" placeholder="Caption your photo!" id="message-input">
        </form>
        <div class="form-signin">
            <button class="btn btn-lg btn-stylish btn-block btn-register capture">Capture Photo</button>    
        </div>
        
    </div>
</template>

<template name="photo_error">
    <div class="container">
        <div class="alert alert-danger" role="alert">You must have a caption for your photo.</div>
    </div>
    {{> photo}}
</template>