<template name="register">
    <div class="container">
        <h1>Register</h1>
        <form class="form-signin">
            <input type="username" class="form-control" placeholder="Username" name="registerUsername">
            <input type="password" class="form-control" placeholder="Password" name="registerPassword">
            <input type="submit" class="btn btn-lg btn-stylish btn-block" value="Register">
        </form>
        
        <div class="form-signin">
            <a href="/" class="btn btn-lg btn-stylish btn-block btn-register">Log In</a>    
        </div>
    </div>
</template>

<template name="register_error">
    <div class="alert alert-danger" role="alert">This Username is already in use.</div>
    {{> register}}
</template>